<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <title>Dashboard</title>
</head>
<body>

  <section class="dashboard">
    <div class="header">
      <img src="{% 'images/logo.png' %}" alt="logo">
      <a href="">Home</a>
      <a href="">My Records</a>
      <img src="" alt="">
    </div>
        <h1>Welcome back User!</h1>
    <div class="content">
        <div class="box-1">
          <p>Your total donations will appear here once you have donations</p>
        </div>

         <div class="box-2">
          <p>Your total request will appear here once you have appointments</p>
        </div>

         <div class="box-3">
          <p>Your total pending will appear here once you have appointments</p>
        </div>
    </div>
  </section>

</body>
</html>